<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.web.exercise.dao.StatusDAO">
 	<insert id="insertStatus" parameterType="String">
 		INSERT INTO `host_status` (`name`)
 		VALUE ( #{name} )
 	</insert>
 	
 	<update id="updateStatus" parameterType="map">
 		UPDATE `host_status`
 		SET
 			`alive` = #{alive}
 			<if test="alive == true">
 			,`lastAliveTime` = now()
 			</if>
 			
 		WHERE
 			`name` = #{name}
 	</update>
 </mapper>