<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.exercise.ex04.dao.NewUserDAO">
 	<insert id="insertNewUser" parameterType="map">
 		INSERT INTO `new_user` (
 			`name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES (
 			#{name}
 			, #{yyyymmdd}
 			, #{email}
 			, #{introduce}
 			, now()
 			, now()
 		)
 	</insert>
 
 	<select id="selectLastUser" resultType="com.exercise.ex04.model.NewUser">
 		SELECT
 			`id`
 			, `name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`new_user`
 		ORDER BY `id` DESC
 		LIMIT 1
 	</select>
 	
 	<select id="selectUser" resultType="com.exercise.ex04.model.NewUser">
 		SELECT
 			`id`
 			, `name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`new_user`
 		WHERE 
 			`id` = #{id}
 	</select>
 
 </mapper>