@charset "UTF-8";

#wrap{
	width:1200px;
	height:800px;
}

header {
	height:70px;
	background-color:#bbbbbb;
}

.content {
	height:500px;
}

.content > .login-box {
	width:500px;
}

.content > .signUp-box {
	width:500px;
}

footer {
	height:50px;
	background-color:#bbbbbb;
}